@{ ViewBag.Title = "Lokad.Cloud Administration Console - Login"; }

<h2>Login</h2>

@if (ViewBag.Message != null) {
	<div style="border: solid 1px red">@ViewBag.Message</div>
}

<p>You must log in before entering the Administration Console: </p>
<form action="Authenticate?ReturnUrl=@Html.Raw(HttpUtility.UrlEncode(Request.QueryString["ReturnUrl"]))" method="post">
<label for="openid_identifier">OpenID: </label>
<input id="openid_identifier" name="openid_identifier" size="40" />
<input type="submit" value="Login" />
</form>

<script type="text/javascript">
	$(document).ready(function () {
		$("#openid_identifier").focus();
	});
</script>
