@{ ViewBag.Title = "Lokad.Cloud Administration Console - Discovery"; }

<div class="warning">
	The Lokad.Cloud Administration Console is currently discovering the Windows Azure subscription
	for Lokad.Cloud deployments. This page automatically refreshes every 10 seconds.
	Please wait or refresh manually.
</div>

<script type="text/javascript">
	setTimeout("location.reload(true);", 10000);
</script>
