<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac" requirePermission="false"/>
	</configSections>
	<autofac>
		<modules>
			<module type="Lokad.Cloud.CloudConfigurationModule, Lokad.Cloud.Framework">
				<properties>
					<property name="DataConnectionString" value="UseDevelopmentStorage=true" />
				</properties>
			</module>
		</modules>
	</autofac>
</configuration>