@model Lokad.Cloud.Console.WebRole.Models.Statistics.StatisticsModel
@{ ViewBag.Title = "Lokad.Cloud Administration Console - Statistics"; }

<h1>Service Manager</h1>
<p>Use the panel below to start or stop services.</p>

<table class="table">
	<tr>
		<th>Cloud Service</th>
	</tr>

	@foreach (var item in Model.Services) {
		<tr>
			<td>@Html.StartStopIcon(item.IsStarted) @item.ServiceName</td>
		</tr>
	}

</table>
