<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="uri" type="System.Configuration.UriSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- Support for OpenId -->
		<section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Lokad.Stack" requirePermission="false"/>
	</configSections>
	<appSettings>
		<!--Space separated OpenId identifiers (don't forget the trailing slash) -->
		<add key="Admins" value="http://vermorel.myopenid.com/"/>
	</appSettings>

  <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
  which is necessary for OpenID urls with unicode characters in the domain/host name.
  It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
  <uri>
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>
  
	<connectionStrings/>
	<autofac>
		<modules>
			<module type="Lokad.Cloud.CloudConfigurationModule, Lokad.Cloud.Framework">
				<properties>
					<property name="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account;AccountKey=my key here"/>
				</properties>
			</module>
		</modules>
	</autofac>
	<dotNetOpenAuth>
		<openid maxAuthenticationTime="0:25">
			<provider>
				<security requireSsl="false"/>
				<behaviors>
					<!-- Behaviors activate themselves automatically for individual matching requests. 
					     The first one in this list to match an incoming request "owns" the request.  If no
					     profile matches, the default behavior is assumed. -->
					<!--<add type="DotNetOpenAuth.OpenId.Behaviors.PpidGeneration, DotNetOpenAuth" />-->
				</behaviors>
				<!-- Uncomment the following to activate the sample custom store.  -->
				<!--<store type="OpenIdProviderWebForms.Code.CustomStore, OpenIdProviderWebForms" />-->
			</provider>
		</openid>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- since this is a sample, and will often be used with localhost -->
					<add name="localhost"/>
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
	</dotNetOpenAuth>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms defaultUrl="/Home.aspx" loginUrl="~/Default.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<customErrors mode="Off">
		</customErrors>
		<pages theme="Lokad" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="RP" namespace="DotNetOpenAuth.OpenId.RelyingParty" assembly="DotNetOpenAuth"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<!-- clear needed to get rid of the default -->
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<location path="App_Themes/Lokad">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.diagnostics>
		<trace autoflush="false">
			<listeners>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
